.overlayAdd {
    border-image: 
        linear-gradient(hsla(44, 78%, 82%, 0.1),
        hsla(0, 0%, 0%, 0.5))
        fill 1;
}

.heroAdd {
    margin: 10px;
    background-image: url("../../public/images/scouts1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);/* adds shadow to the section*/
    overflow: auto;/* hides the overflow content */
}