/* Base styles */
.responsive-table {
    width: 100%;
    border-collapse: collapse;
}

/* this is supposed to cause the image to have a gradient, but its not working at the moment, com back if i have the time */
/* GOT IT WORKING, NO GAP BETWEEN GRADIENT AND ( */
.overlay {
    border-image: 
        linear-gradient(hsla(40, 90%, 35%, 0.3),
        hsla(0, 0%, 3%, 0.5))
        fill 1;
}

.hero {
    background-image: url("../../../public/images/forest.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);/* adds shadow to the section*/
    overflow: auto;/* hides the overflow content */
}



/*------ Styles for mobile ------*/
@media (max-width: 768px) {
    .responsive-table thead {
        display: none;
    }
    .responsive-table tbody, .responsive-table tr, .responsive-table td {
        display: block;
        width: 100%;
    }
    .responsive-table tr {
        margin-bottom: 10px;
    }
    .responsive-table td {
        text-align: right;
        padding-left: 25%;
        position: relative;
    }
    .responsive-table td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}

/*------ Styles for tablets ------*/
@media (min-width: 769px) and (max-width: 1024px) {
    .responsive-table thead {
        display: none;
    }
    .responsive-table tbody, .responsive-table tr, .responsive-table td {
        display: block;
        width: 100%;
    }
    .responsive-table tr {
        margin-bottom: 10px;
    }
    .responsive-table td {
        text-align: right;
        padding-left: 20%;
        position: relative;
    }
    .responsive-table td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 25px;
        font-weight: bold;
        text-align: left;
    }
}

/*------ Styles for larger screens ------*/
@media (min-width: 1025px) {
    .responsive-table {
      font-size: 1rem; /* Default font size for larger screens */
    }
    .responsive-table thead th, .responsive-table tbody td {
      padding: 15px 20px; /* Default padding for larger screens */
    }
}